<li class="list-group-item">
  <div class="media">
    <div class="media-left">
      <%= link_to image_tag(comment.user.avatar.url(:thumb), alt: "头像", class: "avatar media-object"), user_path(comment.user) %>
    </div>
    <div class="media-body">
    <p class="comment-show-title">
      <span><%= comment.user.username %></span>
      <span> 回复于 <time class="timeago" datetime="<%= comment.created_at.to_formatted_s(:iso8601) %>"></time></span>
  	 • <span><%= @floor += 1 %>楼</span>
	 <% if can? :destroy, comment %>
	   <span class="pull-right">
		 <%= link_to comment_path(comment), method: :delete do %>
		   <span class="glyphicon glyphicon-trash"></span>
		 <% end %>
	   </span>
	 <% end %>
    </p>
      <p class="media-heading"><%= raw comment.content %></p>
    </div>
  </div>
</li>
