<%= simple_form_for([post, post.comments.build]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :content, label: "回复内容", autofocus: true, required: false %>
    <%= f.input :post_id, as: :hidden, wrapper: false, value: post.id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "回 复" %>
  </div>
<% end %>

<script type="text/javascript">
  var editor = new Simditor({
    textarea: $('#comment_content'),
    toolbar: [ 'title','bold','italic','underline','strikethrough','color','|',
             'ol','ul','blockquote','code','table','link' ],
    pasteImage: false,
    defaultImage: '<%= image_path "upload-loading.png" %>',
    upload: null
    });
</script>

