<%= simple_form_for(@shop) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :area, prompt: false, label: "选择市县" %>
    <%= f.association :category, label: "选择店铺类型" %>
    <%= f.input :name, label: "店铺名称" %>

	<%= f.simple_fields_for :address_attributes, @shop.build_address do |fd| %>
	  <%= fd.input :name, label: "地址" %>
	<% end %>

    <%= f.input :description, label: "店铺说明" %>
    <%= f.input :telephone, label: "联系电话" %>
    <%= f.input :contact, label: "其他联系方式（如 QQ、微信等）" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
