<div class="col-md-12 shop" id="shop_<%= shop.id %>">
  <div class="name"><%= shop.name %></div>

  <table class="table">
	<tr>
	  <th>市县</th>
	  <th>店铺类型</th>
	  <th>地址</th>
	  <th>电话</th>
	  <th>其他</th>
	  <th>审核</th>
	</tr>
	<tr>
      <td><%= shop.area.name %></td>
      <td><%= shop.category.name %></td>
      <td><%= shop.address.name %></td>
      <td><%= shop.telephone %></td>
      <td><%= shop.contact %></td>
	  <td><%= link_to '通过', check_shop_path(shop), method: :post, remote: true, class: "btn btn-primary btn-sm" %></td>
	</tr>
  </table>

  <div class="description">本店介绍: <%= shop.description %></div>

  <div class="pictures">
	<% shop.pictures.each do |pic| %>
	  <%= image_tag pic.image.url(:small) %>
    <% end %>
	<%= "无图片" if shop.pictures.count == 0 %>
  </div>
</div>
