<div class=" col-md-3 shop">
  <div class="thumbnail">
	<%= image_tag shop.face.image.url(:small) %>
  </div>
  <div class="caption">
  <p>
    <span><%= shop.category.name %></span>
    <span><%= shop.name %></span>
    <span><%= shop.area.name %></span>
  </p>
  <p><%= shop.description %></p>
  </div>
</div>
