<div class="row">
  <div class="shop-detail">
    <div class="col-md-6">
	  <div class="shop-pictures owl-carousel owl-shop-pic">
	    <% shop.pictures.each do |pic| %>
	      <%= image_tag pic.image.url(:medium) %>
	    <% end %>
	  </div>
	</div>
	<div class="col-md-4">
      <ul class="shop-info">
	    <li class="shop-name"><%= shop.name %></li>
	    <li class="shop-info-item">市县: <%= shop.area.name %></li>
	    <li class="shop-info-item">店铺类型: <%= shop.category.name %></li>
	    <li class="shop-info-item">地址: <%= shop.address.name %></li>
	    <li class="shop-info-item">联系电话: <%= shop.telephone %></li>
	    <li class="shop-info-item">其他: <%= shop.contact %></li>
	    <li class="shop-info-item">本店介绍: <%= shop.description %></li>
	  </ul>
	</div>
  </div>
</div>
