<div class="row shop-buttons">
  <div class="col-md-12">
    <%= link_to '显示', shop, class: "btn btn-primary btn-sm" %>
    <%= link_to '管理美食', shop_foods_path(shop), class: "btn btn-primary btn-sm" %>
    <%= link_to '上传图片', uppics_shop_path(shop), class: "btn btn-primary btn-sm", "data-no-turbolink" => true %>
    <%= link_to '编辑', edit_shop_path(shop), class: "btn btn-primary btn-sm" %>
	<% if can? :destroy, shop %>
	  <%= link_to '删除', shop, class: "btn btn-primary btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>
  </div>
</div>


