
<div class="row">

  <div class="col-md-9 shop-show">

	<div class="row shop-detail">
      <div class="col-md-6">
        <div class="shop-pictures owl-carousel owl-shop-pic">
          <% @shop.pictures.each do |pic| %>
            <%= image_tag pic.image.url(:medium) %>
          <% end %>
        </div>
      </div>

      <div class="col-md-6">
        <ul class="shop-info">
		  <li class="shop-name"><span class="name">店名:</span><%= @shop.name %></li>
	  	  <li class="note">此信息由<%= @shop.user.username unless @shop.user.nil? %>上传</li>
          <li><span class="name">店铺类型:</span><%= @shop.category.name %></li>
	  	  <li><span class="name">地址:</span><%= "#{@shop.area.name} | #{@shop.address.name}" %></li>
          <li><span class="name">联系电话:</span><%= @shop.telephone %></li>
          <li><span class="name">其他:</span><%= @shop.contact %></li>
		  <li><span class="name">星级:</span> 
			<% @shop.shop_remarks.average(:star).to_i.downto 1 do %>
              <span class="button star glyphicon glyphicon-star"></span>
			<% end %>
			<% @shop.shop_remarks.average(:star).to_i.upto 4 do %>
              <span class="button star-empty glyphicon glyphicon-star"></span>
			<% end %>
		  </li>
		  <li class="score">
		    <span>味道:</span><%= number_to_rounded @shop.shop_remarks.average(:taste), precision: 1 %>
		    <span>服务:</span><%= number_to_rounded @shop.shop_remarks.average(:serve), precision: 1 %>
		    <span>环境:</span><%= number_to_rounded @shop.shop_remarks.average(:environment), precision: 1 %>
		    <span>人均:</span><%= number_to_rounded @shop.shop_remarks.average(:price), precision: 1 %>元
		  </li>
          <li class="shop-remarks">
            <%= link_to "#remarkzone", class: "btn btn-success btn-sm" do %>
			  <span class="glyphicon glyphicon-comment"></span>
			<% end %>
	  	    <span><%= @shop.shop_remarks.count %>评论</span>

            <%= link_to shop_likes_path(@shop.id, "Shop"), method: :post, remote: true, class: "btn btn-success btn-sm" do %>
			  <span class="glyphicon glyphicon-heart-empty"></span>
			<% end %>
			<span id="Shop<%=@shop.id %>_likecount"><%= @shop.likes.count %></span> 喜欢
          </li>

	  	  <li class="share">分享链接</li>
        </ul>
      </div>

	  <div class="col-md-12">
        <p class="description"><%= @shop.description %></p>
	  </div>
    </div><!-- end shop-detail div -->


    <div class="foods clearfix">
      <div class="area-title">本店有<%= @shop.foods.count %>道美食</div>
	  <div class="row">
        <% @shop.foods.each do |food| %>
          <%= render partial: "foods/food_strip", locals: {food: food} %>
        <% end %>
	  </div>
    </div>

	<div class="remarks">
      <div class="area-title">共有<%= @shop.shop_remarks.count %>条评论</div>

      <%= render @remarks %>
	  <%= will_paginate @remarks, previous_label: "&laquo;", next_label: "&raquo;", renderer: BootstrapPagination::Rails %>

	  <div class="remark-zone" id="remarkzone">
        <% if user_signed_in? %>
          <div class="area-title">为本店打分</div>
          <%= render partial: 'shop_remarks/form', locals: {shop: @shop} %>
        <% else %>
          <%= link_to '登录评论', new_user_session_path %>
	    <% end %>
	  </div>
	</div>

  </div><!-- end shop div -->

  <div class="col-md-3 sidebar">
    <div class="shop-map">
  	  shop's map here.
    </div>
  </div>

</div>

