<%= render "shared/goback" %>

<div class="row">

  <div class="col-md-9">
    <%= render partial: "shop_detail", locals: {shop: @shop} %>

    <div class="foods">
      <div class="area-title">本店美食共<%= @shop.foods.count %>道</div>
      <% @shop.foods.each do |food| %>
        <%= render partial: "foods/food_strip", locals: {food: food} %>
      <% end %>
    </div>
  </div>

  <div class="col-md-3 shop-remarks">
	<% if user_signed_in? %>
      <%= render partial: 'remarks/form', locals: {resource: @shop} %>
	<% else %>
	  <%= link_to '登录点评店铺', new_user_session_path %>
	<% end %>
    <%= render @shop.remarks.order(created_at: :desc).limit(30) %>
  </div>

</div>

