<%= render "shared/goback" %>

<div class="row images">
  <%= render partial: "shop_pic", collection: @shop.pictures, as: :pic, locals: {face_id: @shop.face_id} %> 
</div>

<%= simple_form_for(@shop, url: uppics_shop_path(@shop), html: {id: :upload_shop_pics}, method: :post) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :image, as: :file, label: "选择上传图片" %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "上传" %>
  </div>
<% end %>

