<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>登录</h2>
      
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :username, label: '用户名', required: false, autofocus: true %>
          <%= f.input :password, label: '密码', required: false %>
          <%= f.input :remember_me, label: '下次自动登录', as: :boolean if devise_mapping.rememberable? %>
        </div>
      
        <div class="form-actions">
          <%= f.button :submit, "登 录" %>
        </div>
      <% end %>
      
      <%= render "devise/shared/links" %>
    </div>

    <div class="col-md-6">
	</div>
  </div>
</div>
