<div class="col-md-6">
  <div class="food-strip">
    <div class="row">
  
  	  <div class="col-md-4 picture">
	    <%= link_to food_path(food), "data-no-turbolink" => true do %>
          <%= image_tag food.picture.image.url(:small) %>
        <% end %>
  	  </div>
  
  	  <div class="col-md-8 info">
        <p class="name"><%= food.name %></p>
        <p class="description"><%= truncate food.description, length: 35 %></p>
		<p class="price">
		  <%= render partial: "/foods/food_price", locals: {food: food} %>
		</p>
  
        <div class="foot-info">
          <span class="glyphicon glyphicon-heart"></span>10 喜欢 
		  <span class="button glyphicon glyphicon-star" title="收藏"></span>20 收藏 
          <span class="glyphicon glyphicon-comment"></span><%= food.remarks.count %> 评论
        </div>
      </div>
  
    </div>
  </div>
</div>
