<div class="col-sm-6 col-md-3">
  <div class="food">
    <div class="picture">
  	<%= link_to food_path(food) do %>
  	  <%= image_tag food.picture.image.url(:small) %>
  	<% end %>
    </div>
    <div class="info">
      <p class="name"><%= food.name %></p>
      <p class="description"><%= truncate food.description, length: 35 %></p>
	  <p class="price">
	    <%= render partial: "/foods/food_price", locals: {food: food} %>
	  </p>
    </div>
    <div class="foot-info">
  	  <p>
	  <span class="glyphicon glyphicon-heart"></span><%= food.likes.count %> 喜欢
  	  <span class="glyphicon glyphicon-comment"></span><%= food.food_remarks.count %> 评论
  	  </p>
    </div>
  </div>
</div>
