<div class="col-sm-6 col-md-3">
  <div class="food">
    <div class="picture">
  	<%= link_to food_path(food) do %>
  	  <%= image_tag food.picture.image.url(:small) %>
  	<% end %>
    </div>
    <div class="info">
      <p class="name"><%= food.name %></p>
      <p class="description"><%= truncate food.description, length: 35 %></p>
	  <p class="price"><%= "#{food.price}元/#{food.unit}" %></p>
    </div>
    <div class="foot-info">
  	  <p>
  	  <span class="glyphicon glyphicon-heart"></span>10 喜欢
  	  <span class="glyphicon glyphicon-star"></span>20 收藏
  	  <span class="glyphicon glyphicon-comment"></span><%= food.remarks.count %> 评论
  	  </p>
    </div>
  </div>
</div>
