<div class="col-sm-6">
    <div class="row food-strip">
  
  	  <div class="col-md-4 picture">
	    <%= link_to food_path(food), "data-no-turbolink" => true do %>
          <%= image_tag food.picture.image.url(:small) %>
        <% end %>
  	  </div>
  
  	  <div class="col-md-8 info">
        <p class="name"><%= food.name %></p>
	    <p class="stars">
	      <% 3.downto 1 do %>
            <span class="button star glyphicon glyphicon-star"></span>
	      <% end %>
	      <% 3.upto 4 do %>
            <span class="button star-empty glyphicon glyphicon-star"></span>
	      <% end %>
	    </p>

	    <p class="price">
	      <%= render partial: "/foods/food_price", locals: {food: food} %>
	    </p>
  
        <div class="foot-info">
          <span class="glyphicon glyphicon-heart"></span>10 喜欢 
          <span class="glyphicon glyphicon-comment"></span><%= food.food_remarks.count %> 评论
        </div>
      </div>
  
  </div>
</div>
