
<div class="row food-show">

  <div class="col-md-9">


	<div class="food-info">
      <div class="food-name"><%= @food.name %></div>
	  <div class="spec star">
		<span class="spec name">星级:</span> 
		<% @food.food_remarks.average(:star).to_i.downto 1 do %>
          <span class="button star glyphicon glyphicon-star"></span>
		<% end %>
		<% @food.food_remarks.average(:star).to_i.upto 4 do %>
          <span class="button star-empty glyphicon glyphicon-star"></span>
		<% end %>
	  </div>
	  <div class="spec"><span class="spec-name">价格:</span>
	    <span class="item"><%= render partial: "food_price", locals: {food: @food} %></span>
        <span class="spec-name">喜欢:</span>
		<span id="Food<%=@food.id %>_likecount"><%= @food.likes.count %></span> 喜欢
        <%= link_to food_likes_path(@food.id, "Food"), method: :post, remote: true, class: "like" do %>
		  <span class="glyphicon glyphicon-heart-empty"></span>
		<% end %>
	  </div>

      <div class="shop-info">
	    <div class="shop-name">
		  <span>商家:</span><%= link_to @food.shop.name, shop_path(@food.shop) %>
	    </div>
	    <div class="relation">
	    	<span>地址:</span><%= @food.shop.address.name %>
          <span>联系电话:</span><%= @food.shop.telephone %>
          <span>其他:</span><%= @food.shop.contact %>
	    </div>
	  </div>

      <div class="food-picture">
        <%= image_tag @food.picture.image.url(:large) %>
      </div>

	  <div class="food-description">
	    <p class="introduce">美食介绍:</p>
	    <%= @food.description %>
	  </div>

	  <div class="food-info-item share">分享链接</div>
	</div>

    <div class="food-remarks">
      <% if user_signed_in? %>
        <%= render partial: 'food_remarks/form', locals: {food: @food} %>
      <% else %>
        <%= link_to '登录点评店铺', new_user_session_path %>
      <% end %>
      <%= render @food.food_remarks.order(created_at: :desc) %>
    </div>

  </div>

  <div class="col-md-3">
    placeholder...
  </div>
</div>


