<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :topic, label: "话题" %>
    <%= f.input :title, label: "标题" %>
    <%= f.input :content, label: "内容", autofocus: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, (@post.new_record? ? "发布" : "编辑")%>
  </div>
<% end %>

<script type="text/javascript">
  var editor = new Simditor({
    textarea: $('#post_content'),
    toolbar: [ 'title','bold','italic','underline','strikethrough','color','|',
             'ol','ul','blockquote','code','table','link','image','hr','|',
             'indent','outdent' ],
    pasteImage: true,
    defaultImage: '<%= image_path "upload-loading.png" %>',
    upload: {
              url: 'post_pictures',
              params: null,
              fileKey: 'image_file',
              connectionCount: 3,
              leaveConfirm: '图片已上传,确定要离开吗?'
            }
    });
</script>

