<%= simple_form_for(@post) do |f| %>
  <%#= f.error_notification %>

<div class="panel panel-default">
  <div class="panel-heading">请选择一个话题，并输入帖子标题.</div>
  <div class="panel-body">
    <%= f.association :topic, label: false %>
    <%= f.input :title, placeholder: "标题", label: false %>
  </div>
</div>

  <div class="form-inputs">
    <%= f.input :content, label: false, autofocus: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, (@post.new_record? ? "发 布" : "编 辑")%>
  </div>
<% end %>

<script type="text/javascript">
  var editor = new Simditor({
    textarea: $('#post_content'),
    toolbar: [ 'title','bold','italic','underline','strikethrough','color','|',
             'ol','ul','blockquote','code','table','link','image','hr' ],
    pasteImage: true,
    defaultImage: '<%= image_path "upload-loading.png" %>',
    upload: {
              url: 'post_pictures',
              params: null,
              fileKey: 'image_file',
              connectionCount: 3,
              leaveConfirm: '图片已上传,确定要离开吗?'
            }
    });
</script>

