
<% content_for :pathlink do %>
  <ol class="breadcrumb">
	<li><%= link_to "首页", root_path %></li>
    <li><%= link_to "社区", posts_path %></li>
    <li class="active">全部话题</li>
  </ol>
<% end %>

<%= render 'sidebar' %>

<div class="panel panel-default">
  <div class="panel-heading">
    <ul class="nav nav-pills">
	  <li role="presentation" class="<%= "active" if @active_topic.nil? %>" >
		<%= link_to "全部话题", posts_path %>
	  </li>
      <% @topics.each do |topic| %>
		<li role="presentation" class="<%= "active" if ! @active_topic.nil? and @active_topic.id == topic.id %>">
		<%= link_to topic.name, "/topic/#{topic.id}/posts" %>
		</li>
      <% end %>
    </ul>
  </div>

  <ul class="list-group">
    <% @posts.each do |post| %>
      <li class="list-group-item">
        <div class="media">
          <div class="media-left">
		  <% unless post.user.nil? %>
  		    <%= link_to user_path(post.user) do %>
              <%= image_tag post.user.avatar.url(:thumb), class: "avatar" %>
  		    <% end %>
		  <% else %>
            <%= image_tag "thumb/avatar.png", class: "avatar" %>
  		  <% end %>
          </div>
          <div class="media-body">
		  <p class="media-heading post-list-head" id="post_<%= post.id %>">
  			<%= link_to post.title, post, 'data-no-turbolink' => true %>
			<% if post.top? %>
			  <span class="glyphicon glyphicon-pushpin"></span>
			<% end %>
			<% if post.elite? %>
		      <span class="glyphicon glyphicon-thumbs-up"></span>
			<% end %>
  		  </p>
  		  <p class="post-list-info">
  		    <%= render partial: 'post_info', locals: {post: post} %>
  		  </p>
          </div>
  		<div class="media-right">
  		  <div class="replys-box">
  		    <p>回复</p><p class="number"><%= post.comments.size %></p>
  		  </div>
  		</div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
<%= will_paginate @posts, previous_label: "&laquo;", next_label: "&raquo;", renderer: BootstrapPagination::Rails %>

<!-- translate time to words -->
<script type="text/javascript">
  jQuery("time.timeago").timeago();
</script>
