
<% content_for :pathlink do %>
  <ol class="breadcrumb">
    <li><a href="#">首页</a></li>
    <li><a href="#">社区</a></li>
    <li class="active">全部话题</li>
  </ol>
<% end %>

<%= render 'sidebar' %>

<ul class="list-group">
  <li class="list-group-item active">
    <ul class="nav nav-pills">
	  <li role="presentation" class="<%= "active" if @active_topic.nil? %>" >
		<%= link_to "全部话题", posts_path %>
	  </li>
      <% @topics.each do |topic| %>
		<li role="presentation" class="<%= "active" if ! @active_topic.nil? and @active_topic.id == topic.id %>">
		<%= link_to topic.name, "/topic/#{topic.id}/posts" %>
		</li>
      <% end %>
    </ul>
  </li>


  <% @posts.each do |post| %>
    <li class="list-group-item">
      <div class="media">
        <div class="media-left">
		  <%= link_to user_path(post.user) do %>
            <%= image_tag post.user.avatar.url(:thumb), class: "avatar" %>
		  <% end %>
        </div>
        <div class="media-body">
		  <p class="media-heading post-list-head">
			<%= link_to post.title, post, 'data-no-turbolink' => true %>
		  </p>
		  <p class="post-list-info">
		    <%= render partial: 'post_info', locals: {post: post} %>
		  </p>
        </div>
		<div class="media-right">
		  <div class="replys-box">
		    <p>回复</p><p class="number"><%= post.comments.size %></p>
		  </div>
		</div>
      </div>
    </li>
  <% end %>
</ul>
