
<% content_for :pathlink do %>
  <ol class="breadcrumb">
    <li><a href="#">首页</a></li>
    <li><a href="#">社区</a></li>
    <li class="active">全部话题</li>
  </ol>
<% end %>

<%= render 'sidebar' %>

<ul class="list-group">
  <li class="list-group-item active">
    <ul class="nav nav-pills">
      <li role="presentation" class="active"><a href="#">全部话题</a></li>
      <% @topics.each do |topic| %>
        <li role="presentation"><a href="#"><%= topic.name %></a></li>
      <% end %>
    </ul>
  </li>


  <% @posts.each do |post| %>
    <li class="list-group-item">
      <div class="media">
        <div class="media-left">
		  <%= link_to user_path(post.user) do %>
            <%= image_tag post.user.avatar.url(:thumb), class: "avatar" %>
		  <% end %>
        </div>
        <div class="media-body">
		  <p class="media-heading post-list-head">
			<%= link_to post.title, post, 'data-no-turbolink' => true %>
		  </p>
		  <p class="post-list-info">
		    <span class="topic"><%= post.topic.name %></span>
             • <%= post.user.username %>
		     • <span>发表于 <time class="timeago" datetime="<%= post.created_at.to_formatted_s(:iso8601) %>"></time></span>
			 <% unless post.comments.last.nil? %> <!-- 这里有性能问题 -->
			 • <%= post.comments.last.user.username %>
		     • <span>回复于 <time class="timeago" datetime="<%= post.comments.last.created_at.to_formatted_s(:iso8601) %>"></time></span>
			 <% end %>
             • <%= link_to('编辑', edit_post_path(post)) if can? :update, post %>
             <%= link_to('删除', post, method: :delete, data: { confirm: '你确定要删除?' }) if can? :destroy, post %>
		  </p>
        </div>
		<div class="media-right">
		  <div class="replys-box">
		    <p>回复</p><p class="number"><%= post.comments.size %></p>
		  </div>
		</div>
      </div>
    </li>
  <% end %>
</ul>
