<% content_for :pathlink do %>
  <ol class="breadcrumb">
	<li><%= link_to "首页", root_path %></li>
    <li><%= link_to "社区", posts_path %></li>
    <li><%= link_to @post.topic.name, "/topic/#{@post.topic.id}/posts" %></li>
    <li class="active">浏览帖子</li>
  </ol>
<% end %>

<%= render 'sidebar' %>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="media">
	  <div class="media-body">
        <h4 class="post-show-title"><%= @post.title %></h4>
        <p class="post-show-info">
          <%= render partial: 'post_info', locals: {post: @post} %>
	    </p>
	  </div>
      <div class="media-right">
        <%= link_to user_path(@post.user) do %>
          <%= image_tag @post.user.avatar.url(:thumb), class: "avatar" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <%= raw @post.content %>
  </div>
</div>

<%= render "comments/comments" %>

<% if user_signed_in? %>
  <%= render partial: "comments/form", locals: {post: @post} %>
<% elsif %>
  <p class="text-center">登录后可以参与回复. <%= link_to '登录', new_user_session_path %></p>
<% end %>

<!-- translate time to words -->
<script type="text/javascript">
  jQuery("time.timeago").timeago();
</script>
