<% content_for :pathlink do %>
  <ol class="breadcrumb">
    <li><a href="#">首页</a></li>
    <li><a href="#">社区</a></li>
	<li><a href="#">全部话题</a></li>
    <li class="active">显示帖子</li>
  </ol>
<% end %>

<%= render 'sidebar' %>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="media">
	  <div class="media-body">
        <h4 class="post-show-title"><%= @post.title %></h4>
        <p class="post-show-info">
          <%= render partial: 'post_info', locals: {post: @post} %>
	    </p>
	  </div>
      <div class="media-right">
        <%= link_to user_path(@post.user) do %>
          <%= image_tag @post.user.avatar.url(:thumb), class: "avatar" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <%= raw @post.content %>
  </div>
</div>

<ul class="list-group">
  <% @post.comments.each do |comment| %>
    <li class="list-group-item">
      <div class="media">
        <div class="media-left">
          <%= link_to image_tag(comment.user.avatar.url(:thumb), alt: "头像", class: "avatar media-object"), user_path(comment.user) %>
        </div>
        <div class="media-body">
		  <p class="comment-show-title">
		    <span><%= comment.user.username %></span>
		    <span> 回复于 <time class="timeago" datetime="<%= comment.created_at.to_formatted_s(:iso8601) %>"></time></span>
		  </p>
          <p class="media-heading"><%= raw comment.content %></p>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<% if user_signed_in? %>
  <%= render partial: "comments/form", locals: {post: @post} %>
<% elsif %>
  <%= link_to '登录', new_user_session_path %>
<% end %>
