
<div class="panel panel-default article">
  <div class="panel-heading">
    <div class="media">
	  <div class="media-body">
        <h4 class="post-show-title"><%= @post.title %></h4>
        <p class="post-show-info">
          <span class="topic"><%= @post.topic ? @post.topic.name : "未知" %></span>
           • <%= @post.user ? @post.user.username : "用户已注销" %>
           • <span>发表于 <time class="timeago" datetime="<%= @post.created_at.to_formatted_s(:iso8601) %>"></time></span>
           <span>浏览 <%= @post.display_count %>次</span>
           • <%= link_to('编辑', edit_post_path(@post)) if can? :update, @post %>
           <%= link_to('删除', @post, method: :delete, data: { confirm: '你确定要删除?' }) if can? :destroy, @post %>
	    </p>
	  </div>
      <div class="media-right">
		<% unless @post.user.nil? %>
  		  <%= link_to user_path(@post.user) do %>
            <%= image_tag @post.user.avatar.url(:thumb), class: "avatar" %>
  		  <% end %>
		<% else %>
          <%= image_tag "thumb/avatar.png", class: "avatar" %>
  		<% end %>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <%= raw @post.content %>
  </div>
</div>

<!-- translate time to words -->
<script type="text/javascript">
  jQuery("time.timeago").timeago();
</script>

