<!DOCTYPE html>
<html>
<head>
  <title>美食汇-文山美食尽在美食汇，做文山本地最专业的美食网站</title>
  <meta name="description" content="美食汇是文山本地的一家专业美食网站，我们专注文山本地的吃喝玩乐，这里是吃货们集聚和交流的地方。" />
  <meta name="keywords" content="文山美食,餐饮,美食汇,农产品,文山特产,电子商务,网上购物,订餐,美食" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/headbar' %>

<div class="container foods">
  <%= yield %>
</div>

<%= render 'shared/foot' %>
</body>
</html>

