<!DOCTYPE html>
<html>
<head>
  <title>Foodws</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/headbar' %>

<div class="container shops">
  <%= yield %>
</div>


<%= render 'shared/foot' %>
</body>
</html>

